nav{
    background-color: $transparentColor;
    position: sticky;
    top: 0;
    padding: 4px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ul{
        list-style: none;
        li{
            list-style: none;
            margin: 0 6px;
            a{
                color: $keyColor;
                text-decoration: none;
                font-family: $mainFont;
                font-size: $textLg;
                font-weight: $light;
                background-image: linear-gradient(currentColor, currentColor);
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                transition: background-size .3s;
                &:hover{
                    color: $keyColor;
                    font-weight: $bold;
                    background-size: 100% 2px;
                }
            }
        }
    }
}



