<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!--Metas SEO-->
            <meta name="description" content="Donde y como encontrarnos, ventas mediante Whatsaps y otras formas de encontrarnos.">
            <meta name="keywords" content="Comprar celular por Whatsapp, comprar por Whatsapp">
            <meta name="author" content="Ivo Nathanael Skorski">
    <title>Hype - Tecnologia al Instante - Contacto</title>
    <link rel="shortcut icon" href="../img/favicon.png">
    <link rel="stylesheet" href="../Css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="whats__contacto">
    <p>Nuestro Whatsapp de contacto: +543644448396 </p>
</div>
<!--Inicia Nav-->
<nav class="navbar navbar-expand-lg bgNav" id="mainNav">
    <div class="container-fluid">
      <a class="navbar-brand" href="../index.html">
        <img src="../img/logo_Mesa de trabajo 1.png" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon btnBurger"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./productos.html">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./promociones.html">Promociones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./nosotros.html">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./Contacto.html">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../index.html#envios">Envios</a>
          </li>                                 
        </ul>
      </div>
    </div>
  </nav>
<!--Finaliza Nav-->
    <header>
    <h1 class="textCenter textBold bgLight">Nuestras formas de contacto</h1>
</header>
<article class="bgLight textCenter textLight formas__contacto">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, impedit! Et voluptatem quia fuga sapiente possimus ab aliquam ipsum? Quis incidunt assumenda tempore magni repellendus natus beatae, perferendis dolorum id.
    Soluta cumque quis fugiat quos consequuntur est eaque, exercitationem itaque quia voluptatum praesentium recusandae corporis officiis id magni impedit animi expedita amet cupiditate doloribus non quisquam labore eos culpa. Officia.
    Repellendus repellat iure reiciendis obcaecati est quam ratione, in distinctio sit reprehenderit at amet id fuga, libero veniam veritatis esse facilis labore? Nesciunt provident nostrum rem sequi. Praesentium, neque aperiam.</p>
</article>
    <img src="../img/contacto.jpg" alt="" class="img__principal--fluid">
    <h2 class="textCenter textBold bgLight">Escribinos tu duda en esta casilla de contacto</h2>
    <form action="" id="Contacto">
    <section class="bgLight textBold textCenter">
        <label for="mensaje">Deje su mensaje</label>
            <textarea name="" id="mensaje" cols="30" rows="10" ></textarea>
            <br>
            <input type="reset" value="Cancelar">
            <input type="submit" value="Enviar">
    </section>
    <section class="textCenter">
    <h2 class="textCenter textBold bgLight">Nuestro numero telefonico de contacto</h2>       
    <img src="../img/numerodecontacto.jpg" alt="">
    <h2 class="textCenter textBold bgLight">Encontranos en nuestra sucursal</h2>
    </section>
    <section>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.9885886575307!2d-58.44641108545277!3d-34.6044500650425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccbe43fd266a9%3A0x22f8715d81c50857!2sAntezana%20247%20-%20%22La%20Mansi%C3%B3n%22%20YSY%20A%20-%20Duki%20-%20Neo%20Pistea!5e0!3m2!1ses!2sar!4v1653679000234!5m2!1ses!2sar" width="1600" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
</form>
    <br>
    <br>
    <h2 class="textCenter textBold bgLight">Nuestras redes sociales al pie de la pagina</h2>
    <footer>
        <section class="bgLight textCenter">
        <a href="https://www.facebook.com" target="_blank">
            <img src="../img/face.png" alt="">
        </a>
        <a href="https://www.instagram.com" target="_blank">
            <img src="../img/ig.png" alt="">
        </a>
        <a href="https://twitter.com" target="_blank">
            <img src="../img/twi.png" alt="">
        </a>
        </section>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
